<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" media="screen" href="/node_modules/particles.js/demo/css/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="/css/Bootstrap/css/bootstrap.min.css" />    

    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/jQuery-3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/css/Bootstrap/js/bootstrap.min.js"></script>

    <link href="/media/img/WebGIS/WebGIS_Ico.ico" rel="shortcut icon" type="image/x-icon" />
    <title>WebGIS AI Portal - Login</title>

    <style media="all" type="text/css">
        * {
            box-sizing: border-box;
        }

        /* Style the input container */
        .input-container {
            display: flex;
            /* width: 100%; */
            margin-bottom: 15px;
        }

        /* Style the form icons */
        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        /* Style the input fields */
        .input-field {
            /* width: 100%; */
            padding: 10px;
            outline: none;
        }

        .input-field:focus {
            border: 2px solid dodgerblue;
        }

        /* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            /* padding: 15px 20px; */
            border: none;
            cursor: pointer;
            /* width: 100%; */
            opacity: 0.9;
        }

        .centered {
            background: #DE6262;            
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            /* padding: 100px 0; */
        }

        .image-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 55%;
            background-color: transparent;
        }

        .carousel-caption {
            transform: translateY(100%);
            bottom: 110% !important;
        }

        #myCarousel .carousel-control.left,
        #myCarousel .carousel-control.right {
            background-image: none;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 590px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>    

</head>

<body>

    <!-- Top content -->
    <div id="particles-js">
        <section class="centered">
            <!-- <div class="back"> -->
            <!-- <div class="inner-bg"> -->
            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-offset-2 text">
                            <h1><strong></strong>Login Form</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                <!-- <div class="form-top-right">
                                                                                    <i class="fa fa-key"></i>
                                                                                </div> -->
                            </div>
                            <div class="form-bottom">
    
                                <% if (error.length > 0) { %>
                                <div class="alert alert-danger">
                                    <%- error %>
                                </div>
                                <% } %>
    
                                <% if (success.length > 0) { %>
                                <div class="alert alert-success">
                                    <%- success %>
                                </div>
                                <% } %>
    
                                <form role="form" action="/login" role="form" method="post" class="login-form">
                                    <div class="input-container">
                                        <i class="fa fa-user icon"></i>
                                        <input type="text" style="width:auto;" name="username" required placeholder="Username..."
                                            class="form-username form-control" id="username">
                                    </div>
    
                                    <div class="input-container">
                                        <i class="fa fa-key icon"></i>
                                        <input type="password" style="width:auto;" required name="password" placeholder="Password..."
                                            class="form-password form-control" id="password">
                                    </div>
    
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                            <small>Remember Me</small>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-login float-right">Submit</button>
                                    <div class="copy-text">CopyRights <i class="fa fa-heart"></i> by <a href="tnht1024@gmail.com">tnht1024@gmail.com</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6" style="background-color: transparent;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" >
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="background-color: transparent; margin-top: 3%; margin-bottom: 3%; height: auto;">
                        <div class="item active">
                            <img class="image-center"src="/media/img/WebGIS/Capability_3D_GIS2.png" alt="3D GIS">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>3D GIS</p>
                            </div>
                        </div>
    
                        <div class="item">
                            <img class="image-center" src="/media/img/WebGIS/Capability_Data_Collection_n_Management2.png" alt="Data Collection & Management">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>Data Collection & Management</p>
                            </div>
                        </div>
    
                        <div class="item">
                            <img class="image-center" src="/media/img/WebGIS/Capability_Field_Operations2.png" alt="Field Operations">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>Capability Field Operations</p>
                            </div>
                        </div>
    
                        <div class="item">
                            <img class="image-center" src="/media/img/WebGIS/Capability_Imagery_n_Remote_Sensing2.png" alt="Imagery And Remote Sensing">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>Imagery And Remote Sensing</p>
                            </div>
                        </div>                        
    
                        <div class="item">
                            <img class="image-center" src="/media/img/WebGIS/Capability_Mapping2.png" alt="Mapping">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>Mapping</p>
                            </div>
                        </div>
    
                        <div class="item">
                            <img class="image-center" src="/media/img/WebGIS/Capability_Spacial_Analysis2.png" alt="Spacial Analysis">
                            <div class="carousel-caption">
                                <h3>WebGIS Capability</h3>
                                <p>Spacial Analysis</p>
                            </div>
                        </div>
    
                        
                    </div>
    
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
    
        </section>    
    </div>
</body>

</html>

<script src="/node_modules/particles.js/particles.js"></script>
<script src="/node_modules/particles.js/demo/js/app.js"></script>